.readout{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2{
    font-weight: 300;
    font-size: 1rem;
  }
}

.inputsArea{
  display: flex;
  flex-direction: column;
  gap: 16px;
  label{
    display: flex;
    flex-direction: column;
  }
}

.modalBtns{
  display: flex;
  justify-content: center;
}

.actionArea{
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow:  -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
  border-radius: 100vw;
}