.readout{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2{
    font-weight: 300;
    font-size: 1rem;
    margin: 0.25rem;
  }
}

.config{
  border-radius: 100vw;
  background: #2a2e47;
  color: white;
  padding: 0.5rem 1rem;
}

.steppersArea{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}


.inputsArea{
  display: flex;
  flex-direction: column;
  gap: 16px;
  label{
    display: flex;
    flex-direction: column;
  }
}

.modalBtns{
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  margin: 2rem -1.25rem -1.25rem -1.25rem;
  background-color: #5b5e71;
}

.actionArea{
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow:  -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
  border-radius: 100vw;
}

.timerContainer{
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}