.trackerContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
  position: fixed;
  height: 15vh;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(34, 50, 74, 0.05) 25%,  transparent);
  padding: 0.5rem;
}
.iconTrack{
  height: 2rem;
  width: 2rem;
  .filled{
    fill: none !important;
  }

  .stroked{
    stroke: white;
    stroke-width: 2px;
  }
}



.sequenceItem{
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timerSquare {
  width: 100px;
  height: auto;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  h1, h2{
    margin: 0;
    text-transform: uppercase;
  }
  h1{
    font-size: 1rem;
    margin-bottom: 4px;
  }
  h2{
    font-size: 0.75rem;
    margin: 4px 4px 2px 4px;
  }
  .labelArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1117;
    padding: 4px 6px;
    h2{
      font-size: 1.5rem;
      font-weight: 800;
      color: white;
    }
  }
  .indicator{
    display: none;
  }
}

.timerSquare.active {

}

.timerSquare.completed {
  background-color: #87CEEB;
}
